{% extends '../layout.html' %}
{% block content %}
		<br/>
		<div class="row">
			<div class="col-md-3">
				<form id="add-chat-room" role="form">
				  <div class="form-group">
				    <label>Room Name</label>
				    <input id="room_name" name="room_name" type="text" class="form-control" placeholder="Enter Room Name">
				    <input id="room_types" name="room_types" type="hidden" class="form-control" value="public">
				    <input id="room_creator" name="room_creator" type="hidden" class="form-control" value="{{ session_data.users_un }}">
				  </div>
				  <div class="form-group">
				    <label>Room Description</label>
				    <textarea id="room_description" name="room_description" class="form-control" rows="8"></textarea>
				  </div>
				  <a id="add-chat-room-btn" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Submit</a>
				</form>
			</div>
			<div id="chat-room-wrapper" class="col-md-9"  style="overflow-y:scroll;height:450px;">
				<div id="chat-room" class="list-group">
					<!-- <a class="list-group-item" style="cursor:pointer;">
						<div style="font-size:11px;">Inzpire</div>
						<p style="font-size:8px;">Lorem ipsum sit dolor amet. Que percentum litarcadores me siamo.</p>
					</a> -->
				</div>
			</div>
		</div>
		<input type="hidden" id="base_url" value="http://localhost" />
		<script src="/static/assets/vendors/socket.io.min.js"></script>
        <script src="/static/assets/vendors/jquery-1.9.1.min.js"></script>
		<script type="text/javascript">
			var username = "";
			var base_url = $('#base_url').val();
			var socket = io.connect(base_url+':3030');

			$(document).ready(function(){
				getChatRooms();

				$('#add-chat-room-btn').click(function(e){
					e.preventDefault();
					console.log('add chat room...');
					
					var room_data = {
						name: $('#room_name').val(),
						description: $('#room_description').val(),
						room_types: $('#room_types').val(),
						creator: $('#room_creator').val(),
					};

					var elem = '<a class="list-group-item" style="cursor:pointer;">'+
									   ' 	<div style="font-size:11px;">'+room_data.name+'</div>'+
									   ' 	<p style="font-size:8px;">'+room_data.description+'</p>'+
									   '</a>';
					$('#chat-room').append(elem);
					elem = null;

					addChatRoom(room_data);
					document.getElementById('add-chat-room').reset();
				});
			});

			function addChatRoom(room_data)
			{
				console.log(room_data);
				$.ajax({
					url: base_url+':3000/setting/chat_room/add_chat_room',
					data: room_data,
					type: 'POST',
					success: function(res){
						console.log(res);

						if (res.status_code == 200)
						{
							alert('successfully add room');
						}
						else
						{
							alert('fail to add room');
						}
					}
				});
			}

			function getChatRooms()
			{
				console.log('get chat rooms...');

				// load chat rooms
				$.ajax({
					url: base_url+':3000/get_chat_rooms_by_creator',
					data:'username='+$('#room_creator').val(),
					type: 'POST',
					success: function(res){
						console.log(res);

						if (res.status_code == 200)
						{
							result_len = res.data.length;
							var elem = "";
							for (var i = 0; i < result_len; i++)
							{
								room = res.data[i];
								console.log(typeof(room.description));
								var description = "";
								if (room.description != undefined)
								{
									description = room.description;
								}
								else
								{
									description = "no description";
								}
								
								console.log(description);

								elem += '<a class="list-group-item" data-rooms-id="'+room._id+'" style="cursor:pointer;" href="/setting/chat_room/'+room._id+'">'+
									   ' 	<div style="font-size:11px;">'+room.name+'</div>'+
									   ' 	<p style="font-size:8px;">'+description+'</p>'+
									   '</a>';
							}

							$('#chat-room').html(elem);
							elem = null;
							description = null;
						}
					}
				});
			}
		</script>
{% endblock %}